{% extends 'webvc/home.html' %}
{% load static %}
{% block content %}

<section id="welcome-container">

  <img id="logo" src="{% static 'webvc/images/welcom_icon.png' %}" alt="logo">

  <div id="welcome-message">
    <h1>Welcome to Web Video Conferencing</h1>
    <p>Group video calling application for you</p>


    <!-- login , signup buttons -->
    <div class="container">
      <div class="row">
        <div class="col-6">
          <button type="button" class="myButton" onclick="login()">Login</button>
        </div>
        <div class="col-6">
          <button type="button" class="myButton" onclick="signup()">Signup</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="login-page" class="vh-100">
  <div class="container py-5 vh-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img id="login-image" class="rounded mx-auto d-block" src="{% static 'webvc/images/video_calling.gif' %}"
          class="img-fluid" alt="Phone image">
      </div>
      <div id="login-form" class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div>
          <h1 class="display-3" style="padding: 10px 0px 20px 0px;">Login</h1>
        </div>

        <form action="{% url 'login_user' %}" method="post"> {% csrf_token %}
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg"
              placeholder="Username / Email address"  required autofocus/>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" placeholder="Password" required/>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" unchecked required/>
              <label class="form-check-label" for="form1Example3"> I agree to terms and conditions </label>
            </div>
            <a href="#!" id="login-links">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <div class="col-md-12 mb-4">
            <button type="submit" class="myButton">Login</button>
          </div>

          <!-- register button -->
          <p class="mt-5 mb-0">Don't have an account?
            <a onclick="signup()" id="login-links">Sign Up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>


<section id="signup-page" class="vh-100">
  <div class="container py-5 vh-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img id="login-image" class="rounded mx-auto d-block" src="{% static 'webvc/images/signup.gif' %}"
          class="img-fluid" alt="Phone image">
      </div>
      <div id="login-form" class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div>
          <h1 class="display-5" style="padding: 10px 0px 20px 0px;">Signup</h1>
        </div>

        <form action="{% url 'signup_user' %}" method="post">{% csrf_token %}
          <!-- username input -->
          <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg" placeholder="Username" required autofocus />
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" class="form-control form-control-lg" placeholder="Email address" required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" class="form-control form-control-lg" placeholder="Password" required />
          </div>

          <!-- check Password input -->
          <div class="form-outline mb-4">
            <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" required />
          </div>

          <!-- Submit button -->
          <div class="col-md-12 mb-4">
            <button type="submit" class="myButton">Sign up</button>
          </div>

          <!-- register button -->
          <p class="mt-5 mb-0">Already have an account?
            <a onclick="login()" id="login-links">Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}