<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'webvc/styles/style.css' %}">
    
    <title>Web VC project</title>
</head>

<body>
    {% block content %}
    
    {% endblock content%}
    
</body>
    <!-- Agora RTC Js -->
    <script type="text/javascript" src="{% static 'webvc/assets/AgoraRTC_N-4.17.2.js' %}"></script>
    <!-- Custom Js -->
    <script type="text/javascript" src="{% static 'webvc/js/strems.js' %}"></script>
</html>