{% extends 'webvc/home.html' %}
{% load static %}
{% block content %}

<section id="error-massage">
  {% if messages %}
  <ul class="text-danger">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
  </ul>
  {% endif %}
</section>

<section>
  
  <form id="send-email" action="{% url 'send_email' %}" method="post">{% csrf_token %}
    <input type="text" name="from_email" placeholder="enter email" required autofocus>
    <input type="submit" value="send verification code" >
  </form>

  <form id="verify-code" action="{% url 'verify_code' %}">
    <input type="text" name="verify-code" placeholder="Enter Verification code" required autofocus>
    <input type="submit" value="Verify Code" >
  </form>

  <form id="reset-password" action="{% url 'reset_password' %}">
    <input type="password" name="password" placeholder="password" required autofocus><br>
    <input type="password" name="conform-password" placeholder="conform password" required>
    <input type="submit" value="save new password">
  </form>
</section>



{% endblock content %}