{% extends 'webvc/home.html' %}
{% load static %}
{% block content %}



<section id="password-container" class="container">
  <h3>Forgot Password</h3>
  <div>
    <div class="container">
      <p class="text-danger" id="message"></p>
      <span class="text-danger" id="mail"></span>
    </div>
    <div class="container">
      <form id="send-email">
        <input type="text" id="from_email" placeholder="enter an email" autofocus required><br>
        <input type="submit" class="btn btn-primary" value="send verification code">
      </form>

      <form id="verify-code">
        <input type="text" id="code" placeholder="Enter Verification code" required autofocus>
        <input type="submit" class="btn btn-primary" value="Verify Code">
      </form>

      <form id="reset-password">
        <input type="password" id="password" placeholder="password" required autofocus><br>
        <label for="confirmation" id="correct-password-label"><i class="fa-solid fa-check"></i> Password
          matched</label>
        <label for="confirmation" id="incorrect-password-label"><i class="fa-solid fa-xmark"></i> Password must
          match.</label>
        <input type="password" name="confirmation" id="confirmation" oninput="check_password()"
          placeholder="Confirm Password" required /> <br>
        <input type="submit" class="btn btn-primary" value="save new password">
      </form><br>
      <a id="redirect-login" class="btn btn-primary" href="{% url 'start' %}">Login</a>
    </div>
  </div>
</section>

<!-- <section>
  
  <form id="send-email">
    <input type="text" id="from_email" placeholder="enter email"  autofocus required>
    <input type="submit" value="send verification code" >
  </form>

  <form id="verify-code" >
    <input type="text" id="code" placeholder="Enter Verification code" required autofocus>
    <input type="submit" value="Verify Code" >
  </form>

  <form id="reset-password" >
    <input type="password" id="password" placeholder="password" required autofocus><br>
    <label for="confirmation" id="correct-password-label"><i class="fa-solid fa-check"></i> Password
      matched</label>
    <label for="confirmation" id="incorrect-password-label"><i class="fa-solid fa-xmark"></i> Password must
      match.</label>
    <input type="password" name="confirmation" id="confirmation" oninput="check_password()" placeholder="Confirm Password" required />
    <input type="submit" value="save new password">
  </form>

  <a id="redirect-login"  href="{% url 'start' %}">Login</a>
</section> -->

<!-- Js for forget password  -->
<script type="text/javascript" src="{% static 'webvc/js/forgotpassword.js' %}"></script>

{% endblock content %}