{% extends 'webvc/home.html' %}
{% load static %}
{% block content %}
<main>
    <section id="room-name-wrapper">
        <p>Channel Name: <span id="room-name"></span></p>
    </section>
    <section id="video-strems"></section>

    <section id="controls-wrapper">
        <div class="controlwrapper">
            <button class="hostVC-button" id="mic-but"><i class="fa-solid fa-microphone"></i></button>
        </div>
        <div class="controlwrapper">
            <button class="hostVC-button" id="video-but"><i class="fa-solid fa-video"></i></button>
        </div>
        <div class="controlwrapper">
            <button class="hostVC-button" id="leave-but"><i class="fa-solid fa-power-off"></i></button>
        </div>
    </section>
</main>

{% endblock content %}