{% extends 'webvc/home.html' %}
{% load static %}
{% block content %}



<section id="password-container" class="container">
  <h3>Forgot Password</h3>
  <div>
    <div class="container">
      <p class="text-danger" id="message"></p>
      <span class="text-danger" id="mail"></span>
    </div>
    <div class="container">
      <form id="send-email">
        <input type="text" id="from_email" placeholder="enter an email" autofocus required><br>
        <input type="submit" class="btn btn-primary" value="send verification code">
      </form>

      <form id="verify-code">
        <input type="text" id="code" placeholder="Enter Verification code" required autofocus>
        <input type="submit" class="btn btn-primary" value="Verify Code">
      </form>

      <form id="reset-password">
        <input type="password" id="password" placeholder="password" required autofocus><br>
        <label for="confirmation" id="correct-password-label"><i class="fa-solid fa-check"></i> Password
          matched</label>
        <label for="confirmation" id="incorrect-password-label"><i class="fa-solid fa-xmark"></i> Password must
          match.</label>
        <input type="password" name="confirmation" id="confirmation" oninput="check_password()"
          placeholder="Confirm Password" required /> <br>
        <input type="submit" class="btn btn-primary" value="save new password">
      </form><br>
      <a id="redirect-login" class="btn btn-primary" href="{% url 'start' %}">Login</a>
    </div>
  </div>
</section>

<script>
  // get an email from input and send to the server, return rsponse from server
  document.getElementById('send-email').addEventListener('submit', async (e) => {
    e.preventDefault()
    document.getElementById('verify-code').style.display = 'block';
    document.getElementById('send-email').style.display = 'none';
    document.getElementById('reset-password').style.display = 'none';

    let response = await fetch('/send_email/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': CSRF_TOKEN
      },
      mode: 'same-origin',
      body: JSON.stringify({
        'email': document.getElementById('from_email').value,
      })
    })
    let msg = await response.json()
    document.querySelector('#message').innerHTML = msg.message;
    document.querySelector('#mail').innerHTML = msg.email;
  })

  // get code from input and send to server and return response from the server
  document.getElementById('verify-code').addEventListener('submit', async (e) => {
    e.preventDefault()
    document.getElementById('verify-code').style.display = 'none';
    document.getElementById('send-email').style.display = 'none';
    document.getElementById('reset-password').style.display = 'block';

    let response = await fetch('/verify_code/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': CSRF_TOKEN
      },
      mode: 'same-origin',
      body: JSON.stringify({
        'code': document.getElementById('code').value,
        'email': document.querySelector('#mail').innerHTML,
      })
    })
    let msg = await response.json()
    document.querySelector('#message').innerHTML = msg.message;
    document.querySelector('#mail').innerHTML = msg.email;
    if (msg.status === false) {
      document.getElementById('reset-password').style.display = 'none';
      document.getElementById('verify-code').style.display = 'none';
      document.getElementById('send-email').style.display = 'none';
      document.getElementById('redirect-login').style.display = 'block';
    }
  })

  // get password and send to server, return response from server
  document.getElementById('reset-password').addEventListener('submit', async (e) => {
    e.preventDefault()
    document.getElementById('verify-code').style.display = 'none';
    document.getElementById('send-email').style.display = 'none';
    document.getElementById('reset-password').style.display = 'none';
    document.getElementById('redirect-login').style.display = 'block';

    let response = await fetch('/reset_password/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': CSRF_TOKEN
      },
      mode: 'same-origin',
      body: JSON.stringify({
        'password': document.getElementById('confirmation').value,
        'email': document.querySelector('#mail').innerHTML,
      })
    })
    let msg = await response.json()
    document.querySelector('#message').innerHTML = msg.message;
  })
</script>

{% endblock content %}