{% extends 'webvc/home.html' %}
{% load static %}
{% block content %}



<section id="password-container" class="container">
  <h3>Forgot Password</h3>
  <div>
    <div class="container">
      <p class="text-danger" id="message"></p>
      <span class="text-danger" id="mail"></span>
    </div>
    <div class="container">
      <form id="send-email">
        <div class="form-field mb-3">
          <input type="text" id="from_email" placeholder="enter an email" autofocus required><br>
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-primary" value="send verification code">
        </div>
      </form>

      <form id="verify-code">
        <div class="form-field mb-3">
          <input type="text" id="code" placeholder="Enter Verification code" required autofocus>
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-primary" value="Verify Code">
        </div>
      </form>

      <form id="reset-password">
        <div class="form-field mb-3">
          <input type="password" id="password" placeholder="password" required autofocus><br>
        </div>
        <label for="confirmation" id="correct-password-label"><i class="fa-solid fa-check"></i> Password
          matched</label>
        <label for="confirmation" id="incorrect-password-label"><i class="fa-solid fa-xmark"></i> Password must
          match.</label>
        <div class="form-field mb-3">
          <input type="password" name="confirmation" id="confirmation" oninput="check_password()"
            placeholder="Confirm Password" required /> <br>
        </div>
        <div class="form-field">
          <input type="submit" class="btn btn-primary" value="save new password">
        </div>
      </form><br>
      <div class="form-field mb-3">
        <a id="redirect-login" class="btn btn-primary" href="{% url 'start' %}">Login</a>
      </div>
    </div>
  </div>
</section>

<!-- Js for forget password  -->
<script type="text/javascript" src="{% static 'webvc/js/forgotpassword.js' %}"></script>

{% endblock content %}