{% extends 'webvc/home.html' %}
{% load static %}
{% block content %}

<main>
    <section id="form-container" class="container">
        
        <div id="welcome-message">
            <h3>{{username}}, Create your Channel</h3>
            <sub>share channel name with your friend</sub>
        </div>

        <img class="img-fluid" src="{% static 'webvc/images/welcom_icon.png' %}" alt="logo">

        <form id="form">
            <div class="form-field mb-3">
                <input type="text" class="form-control" name="username" value="{{username}}" > 
            </div>
            <div class="form-field mb-3">
                <input type="text" name="room"  class="form-control" placeholder="Enter channel name" autofocus required> 
            </div>
            <div class="form-field">
                <input type="submit"  value="Join Channel">
            </div>
        </form>
    </section>  
</main>

<!-- This script will generate new token with new channel name -->
<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value
        let name = e.target.username.value

        // fetch API to generate channel from django
        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let uid = data.uid
        let token = data.token

        // store in browser session storage 
        sessionStorage.setItem('UID', uid)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)

        window.open('/room/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>


{% endblock content %}